@font-face {
    font-family: 'Gilroy-Black';
    src: url('fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--White, #F5F5F5);
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.HeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 0px 30px 0px;
    height: fit-content;
    gap: 6px;
    width: 95%;
    cursor: pointer;
}

.BodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    width: 95%;
    gap: 6px;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 20px 20px 20px 20px;
    animation: fadeIn 1s ease-in-out;
}

.Listen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 20px;
    border-radius: 5px;
    background: #000;
    padding: 10px 20px 10px 20px;
}

.Listen2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 20px;
    border-radius: 5px;
    background: #492F2F;
    padding: 10px 20px 10px 20px;
}

.Listen3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 20px;
    border-radius: 5px;
    background: #2F4946;
    padding: 10px 20px 10px 20px;
}

.Listen4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 20px;
    border-radius: 5px;
    background: #302F49;
    padding: 10px 20px 10px 20px;
}

.Listen p, .Listen2 p, .Listen3 p, .Listen4 p {
    color: var(--White, #FFFFFF);
    font-family: Gilroy-Black;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
    letter-spacing: 0px;
    width: fit-content;
    background-color: transparent;
    display: block;
    margin: 0px;
    padding: 0px;
}

.ElementContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    width: 95%;
    gap: 20px;
    border-radius: 5px;
    background: transparent;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
}

.Element {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
    gap: 20px;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 20px 20px 20px 20px;
    transition: all 0.5s ease-in-out;
}

.Element:hover {
    scale: 0.99;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}

.ElementContainerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    width: 95%;
    gap: 20px;
    border-radius: 5px;
    background: transparent;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
}

.InfosFooter {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: fit-content;
    width: 95%;
    background: transparent;
    margin-top: 20px;
}

.Text {
    display: flex;
    padding-top: 8px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
    flex: 1 0 0;
    align-self: stretch;
    background-color: transparent;
}

.BackButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: fit-content;
    margin-bottom: 20px;
    cursor: pointer;
    gap: 10px;
}

.Back {
    line-height: 0px;
    margin: 0px;
    padding: 0px;
    color: var(--Black, #131313);
    font-family: Gilroy-Black;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.12px;
    background-color: transparent;

}

.Color {
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #000;
}

.Color2 {
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #492F2F;
}

.Color3 {
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #2F4946;
}

.Color4 {
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #302F49;
}

h1 {
    color: var(--Black, #131313);
    font-feature-settings: 'calt' off;
    font-family: Gilroy-Black;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 53.333% */
    letter-spacing: -0.45px;
    padding: 0px;
    margin: 0px;
}

h2 {
    color: var(--Grey, #848484);
    font-feature-settings: 'calt' off;
    font-family: Gilroy-Light;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    letter-spacing: -0.15px;
    padding: 0px;
    margin: 0px;
}

p {
    color: var(--Black, #131313);
    font-feature-settings: 'calt' off;
    font-family: Gilroy-Light;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
    letter-spacing: -0.12px;
    display: flex;
    width: 100%;
    background-color: transparent;
}

.Titre {
    color: var(--Black, #131313);
    font-feature-settings: 'calt' off;
    font-family: Gilroy-Black;
    font-size: 15px;
    font-style: normal;
    line-height: 24px; /* 200% */
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

.SousTitre {
    color: var(--Grey, #848484);
    font-feature-settings: 'calt' off;
    font-family: Gilroy-Light;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 200% */
    letter-spacing: -0.12px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}
