@font-face {
    font-family: 'Gilroy-Black';
    src: url('fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--White, #F5F5F5);
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.HeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 0px 30px 0px;
    height: fit-content;
    gap: 6px;
    width: 95%;
    cursor: pointer;
}

.BodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    width: 95%;
    gap: 6px;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 20px 20px 20px 20px;
    animation: fadeIn 1s ease-in-out;
}

.Listen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 20px;
    border-radius: 5px;
    background: #000;
    padding: 10px 20px 10px 20px;
}

.Listen2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 20px;
    border-radius: 5px;
    background: #492F2F;
    padding: 10px 20px 10px 20px;
}

.Listen3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 20px;
    border-radius: 5px;
    background: #2F4946;
    padding: 10px 20px 10px 20px;
}

.Listen4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 20px;
    border-radius: 5px;
    background: #302F49;
    padding: 10px 20px 10px 20px;
}

.Listen p, .Listen2 p, .Listen3 p, .Listen4 p {
    color: var(--White, #FFFFFF);
    font-family: Gilroy-Black;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
    letter-spacing: 0px;
    width: fit-content;
    background-color: transparent;
    display: block;
    margin: 0px;
    padding: 0px;
}

.ElementContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    width: 95%;
    gap: 20px;
    border-radius: 5px;
    background: transparent;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
}

.Element {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
    gap: 20px;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 20px 20px 20px 20px;
    transition: all 0.5s ease-in-out;
}

.Element:hover {
    scale: 0.99;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}

.ElementContainerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    width: 95%;
    gap: 20px;
    border-radius: 5px;
    background: transparent;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
}

.InfosFooter {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: fit-content;
    width: 95%;
    background: transparent;
    margin-top: 20px;
    padding-bottom: 150px;
}

.Text {
    display: flex;
    padding-top: 8px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
    flex: 1 0 0;
    align-self: stretch;
    background-color: transparent;
}

.BackButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: fit-content;
    margin-bottom: 20px;
    cursor: pointer;
    gap: 10px;
}

.Back {
    line-height: 0px;
    margin: 0px;
    padding: 0px;
    color: var(--Black, #131313);
    font-family: Gilroy-Black;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.12px;
    background-color: transparent;
}

.Player {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 20px;
    border-radius: 5px;
    background: #FFFFFF;
    transition: all 0.5s ease-in-out;
    z-index: 100;
    margin: 0px;
    bottom: 0;
    position: fixed;
}

.Player audio {
    width: 100%;
    height: 50px;
    background: transparent;
    border-radius: 5px;
    background-color: transparent;
}

.Color {
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #000;
}

.Color2 {
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #492F2F;
}

.Color3 {
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #2F4946;
}

.Color4 {
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #302F49;
}

h1 {
    color: var(--Black, #131313);
    font-feature-settings: 'calt' off;
    font-family: Gilroy-Black;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 53.333% */
    letter-spacing: -0.45px;
    padding: 0px;
    margin: 0px;
}

h2 {
    color: var(--Grey, #848484);
    font-feature-settings: 'calt' off;
    font-family: Gilroy-Light;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    letter-spacing: -0.15px;
    padding: 0px;
    margin: 0px;
}

p {
    color: var(--Black, #131313);
    font-feature-settings: 'calt' off;
    font-family: Gilroy-Light;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
    letter-spacing: -0.12px;
    display: flex;
    width: 100%;
    background-color: transparent;
}

.Titre {
    color: var(--Black, #131313);
    font-feature-settings: 'calt' off;
    font-family: Gilroy-Black;
    font-size: 15px;
    font-style: normal;
    line-height: 24px; /* 200% */
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

.SousTitre {
    color: var(--Grey, #848484);
    font-feature-settings: 'calt' off;
    font-family: Gilroy-Light;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 200% */
    letter-spacing: -0.12px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}





#player-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 80px;
    background: transparent;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  
  div#thumb {
    position: absolute;
    top: 0;
    background-color: #492F2F;
    left: 0;
    width: 80px;
    height: 100%;
    z-index: -1;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  div#thumb2 {
    position: absolute;
    top: 0;
    background-color: #000;
    left: 0;
    width: 80px;
    height: 100%;
    z-index: -1;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  div#thumb3 {
    position: absolute;
    top: 0;
    background-color: #2F4946;
    left: 0;
    width: 80px;
    height: 100%;
    z-index: -1;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  div#thumb4 {
    position: absolute;
    top: 0;
    background-color: #302F49;
    left: 0;
    width: 80px;
    height: 100%;
    z-index: -1;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Play / Pause */
  
  #player-container #play-pause {
    cursor: pointer;
    text-indent: -999999px;
    width: 80px;
    height: 80px;
    position: relative;
    float: left;
    z-index: 2;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-color: transparent;
    filter: invert(1);
  }
  
  .play {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
  }
  
  .pause {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==) !important;
  }
  
  /* Timeline */
  
  #timeline {
    width: 100%;
    height: 5px;
    background: #848484;
    float: left;
    z-index: 9;
    position: absolute;
  }
  
  #scrub {
    height: 5px;
    background-color: #000;
    border: none;
    color: hsl(44, 100%, 44%);
    float: left;
  }
  
  #playhead {
    width: 5px;
    height: 5px;
    background: #FFFFFF;
  }
  
  /* Time */
  .item-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: fit-content;
    float: left;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 9px;
    -ms-flex-item-align: stretch;
    -webkit-align-self: stretch;
    align-self: stretch;
    background-color: transparent;
  }
  #time-holder {
    font-size: 12px;
    margin-top: 5px;
    background-color: transparent;
  }
  div#is-right,
  div#is-left {
    display: inline;
    bottom: auto;
    padding: 3px 7px;
    padding-left: 0;
  }
  
  /* Title */
  .item-inner .item-title {
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    flex-shrink: 1;
    min-width: 0;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
  }
  
  .item-inner .item-subtitle {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
  }

  #time-bar {
    margin-top: 5px;
  }

  div#time-bar, div#time-bar #is-left, div#time-bar #is-left #current-time, 
  div#time-bar, div#time-bar #is-right, div#time-bar #is-right #duration-time, div#time-bar #is-right #duration-time span{
    background-color: transparent;
}
  